# OSX
#
.DS_Store

# Android/IntelliJ
#
build/
.idea
.gradle
local.properties
*.iml
*.hprof
.cxx/

# Bundle artifacts
*.jsbundle

# Tasks
implementation_plan.artifact.md
lessons.artifact.md
task.artifact.md
tasklist.artifact.md
walkthrough.artifact.md
todo.md

